@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

@{
    ViewBag.Title = AppConfig.Config.SiteName;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table bootstrap-table-convert" data-show-columns="true" data-search="true" data-pagination="true">
    <thead>
        <tr>
            <th data-field="AppName">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWorking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWorking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
