@model IEnumerable<BeverageManagement.Models.EntityModel.Config>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table bootstrap-table-convert" data-show-columns="true" data-search="true" data-pagination="true">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerCyclePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentRunningCycle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DefaultBeveragePrice)
            </th>


            <th></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerCyclePerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentRunningCycle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DefaultBeveragePrice)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ConfigID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ConfigID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ConfigID })
                </td>
            </tr>
        }
    </tbody>

</table>
