@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

<div class="form-horizontal">
    <h4>Employee</h4>
    <hr />
    @ViewBag.token
    <label>Subject</label>

    <ul class="list-inline editor-subject">
        <li class="subject"><input type="text" class="full-width form-control" name="emailSubject" value="@AppConfig.Config.DefaultEmailSubject [@AppConfig.Config.SiteName]"></li>
        <li class="buttons-group">
            <div class="btn-group">
                <button class="btn-success btn">
                    <i class="@FaIcons.Email"></i>
                    Send Email
                </button>

                <a class="btn-danger btn" href="javascript:history.back()">
                    <i class="@FaIcons.Times"></i>
                    Cancel
                </a>
            </div>
        </li>

    </ul>
    <br>

    <label>Body</label>
    <textarea class="tinymce" name="emailBody">
        @AppConfig.Config.DefaultEmailBody
        @ViewBag.employeesListHtml
        @AppConfig.Config.DefaultEmailFooter

    </textarea>

</div>
