@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

@{
    ViewBag.Title = "Process Payment";
    string employeesIdsList = ViewBag.employeesIdsList;
    ViewBag.employeesListHtml = Html.Partial("_ListOfEmployees");
    ViewBag.token = Html.AntiForgeryToken();
}
<h2>@ViewBag.Title</h2>
@ViewBag.employeesListHtml
@using (Html.BeginForm())
{

    @Html.Partial("_EmailEditor")

    <br />
    <div class="">
        <div class="form-group ">
            <div class="btn-group evenly-distribute-width">
                <button class="btn-success btn fifty-percent">
                    <i class="@FaIcons.Email"></i>
                    Send Email
                </button>
                <a class="btn-danger btn fifty-percent" href="javascript:history.back()">
                    <i class="@FaIcons.Times"></i>
                    Cancel
                </a>

            </div>
        </div>
    </div>
}