@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

@{
    ViewBag.Title = "Index";
    Html.SetPageId("past-history-controller");
}

<h2>Index</h2>
<p>
</p>
<!-- Trigger the modal with a button -->
@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@



@using (Html.BeginForm())
{
    <ul class="list-inline">
        @*<li>@Html.ActionLink("Saves", "Create", null, htmlAttributes: new { @class = "btn btn-info", @id="save-btn"})</li>*@
        <li><input type="button" name="Create" value="Save" class="btn btn-info" id="save-btn" data-toggle="modal" data-target="#myModal" /></li>
        <li class="pull-left">
            <div class="form-group">
                <div class='input-group date datetimepicker'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </li>
    </ul>

    <table class="table" id="selectionTable">
        <tr>
            <th>
                Select For Payment
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWorking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            @*<th>

                </th>*@
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td><input name="@item.EmployeeID" type="checkbox" class="employee-select" id="checkbox-@item.EmployeeID" data-employeeName="@item.Name"/></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWorking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
                    </td>*@
            </tr>
        }

    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}
