@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

@{
    ViewBag.Title = "Index";
    Html.SetPageId("past-history-controller");
}

<h2>Index</h2>
<p>
</p>
@using (Html.BeginForm()) {
    <ul class="list-inline">
        <li>@Html.ActionLink("Save", "Create", null, new { @class = "btn btn-info", @id="save-btn" })</li>
        <li class="pull-left">
            <div class="form-group">
                <div class='input-group date datetimepicker'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </li>
    </ul>

    <table class="table" id="selectionTable">
        <tr>
            <th>
                Select For Payment
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWorking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            @*<th>

                </th>*@
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td><input name="@item.EmployeeID" type="checkbox" class="employee-select" id="checkbox-@item.EmployeeID"/></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWorking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
                    </td>*@
            </tr>
        }

    </table>
}
