@model IEnumerable<BeverageManagement.Models.EntityModel.History>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryID })
        </td>
    </tr>
}

</table>
